
#bodyTitleAndDescription{
	margin-top: 50px;
	#bodyTitle h2{
		color:@brand-primary-text-color;
		padding-left: 33%;
	}
	#bodyDescription{
		width:100%;
		padding-left: 33%;
		font-size: 20px;
		table {
			display: inline-block;
		}
		color:@brand-secondary-text-color;
	}
}

#bannerImage{
  background-image: url(@brand-banner-image-url);
  background-repeat:no-repeat;
  min-height: 350px;
  background-size: cover;
  background-position-y: -40px;
  position: relative;
  overflow: hidden;
  
}